@import "Tailwindcss"

.hero-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.hero-circle{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.microphone{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new{
    position: absolute;
    top: 28%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color:#00FF88 ;
    padding: 5px 10px;
    border-radius: 20px;
    
    color: black;
}

.hero-text{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}



.host-img{
    width: 400px;
    height: 200px;
}

.footer-bg{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-text{
    position: relative;
    top: 50%; ;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
   
}


@media (max-width: 575px){
    
    .hero-circle{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.microphone{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 50px;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    
}

.sub{
    display: none;
}

.new{
    position: absolute;
    top: 16%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color:#00FF88 ;
    padding: 1px 2px;
    border-radius: 20px;
    font-size: x-small;
    
    color: black;
}
.hero-text{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}

.host-img{
    width: 150px;
    height: 150px;
   margin-left: 120px;
}

.in{
    border: 1px solid rgb(240, 216, 5);
    padding: 10px;
    border-radius: 50%;
}
.x{
    border: 1px solid rgb(240, 216, 5);
    padding: 10px;
    border-radius: 50%;
}
.insta{
    border: 1px solid rgb(240, 216, 5);
    padding: 10px;
    border-radius: 50%;
}
.yt{
    border: 1px solid rgb(240, 216, 5);
    padding: 10px;
    border-radius: 50%;
}