@import "tailwindcss";



/* You can write your own CSS below */

.hero-bn{
    position: relative;
    top: 66px;
    left: 0;
    width: 100%;
    height: 100%;
    

}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}
.hero-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new{
    position: absolute;
    top: 35%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color:#00FF88 ;
    padding: 5px 10px;
    border-radius: 20px;
    
    color: black;
}

.hero-text{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}



.host-img{
    width: 400px;
    height: 200px;
}

.footer{
    background-image: url(../assets/footer-bg.png);
     height: 400px;         
  display: flex;
  align-items: center;    
  justify-content: center;
  text-align: center;
  padding-left: 50px;
   
}

@media (max-width: 575px){
  
.hero-bn{
    position: relative;
    top: 66px;
    left: 0;
    width: 100%;
    height: 100%;

}
.hero-circle{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.microphone{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 50px;
}

.nav ul{
    
    display: none;
    
}

.sub{
    display: none;
}

.new{
    position: absolute;
    top: 23%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color:#00FF88 ;
    padding: 1px 2px;
    border-radius: 20px;
    font-size: x-small;
    color: black;
}
.hero-text{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}

.host-img{
    width: 150px;
    height: 150px;
   margin-left: 120px;
}

.in{
    border: 1px solid rgb(240, 216, 5);
    padding: 10px;
    border-radius: 50%;
}
.x{
    border: 1px solid rgb(240, 216, 5);
    padding: 10px;
    border-radius: 50%;
}
.insta{
    border: 1px solid rgb(240, 216, 5);
    padding: 10px;
    border-radius: 50%;
}
.yt{
    border: 1px solid rgb(240, 216, 5);
    padding: 10px;
    border-radius: 50%;
}

.footer{
    background-image: url(../assets/Image.png);
     height: 200px;         
  display: flex;
  align-items: center;    
  justify-content: center;
  text-align: center;
   
}
}